<html>
  <head></head>
  <body>
    
    <% if(user){ %>

      <section id='welcome-message'>
        Welcome <%= user.name %>
      </section>
      <a href='/signout' id='sign_out'>Sign out</a>

    <% } else { %>

      <a href='/signup' id='signup'>Sign up</a>
      <a href='/signin' id='signin'>Sign in</a>
    <% } %>

  </body>
</html>