<html>
  <head></head>
  <body>
    
    <% if(user){ %>
      <section id='welcome-message'>
        Welcome <%= user.name %>
      </section>
    <% } %>

    <a href='/signup' id='signup'>Sign up</a>
  </body>
</html>