<html>
  <head></head>
  <body>

    Sign up
    <form action='/users' method='post' id='signup_form'>
      Name: <input name='name' type='text'>
      Email: <input name='email' type='text'>
      Password: <input name='password' type='password'>
      <input type="submit" value="Sign up">
    </form>

  </body>
</html>