<html>
  <head></head>
  <body>

    <% if(message){ %>
      <%= message %>
      <br>
    <% } %>

    Sign up
    
    <form action='/sessions' method='post' id='signup_form'>
      Name: <input name='name' type='text' id='name'>
      Email: <input name='email' type='text' id='email'>
      Password: <input name='password' type='password' id='password'>
      <input type="submit" value="Sign up" id='sign_in_submit'>
    </form>

  </body>
</html>