<html>

  <head></head>

  <body>

    <% if(message){ %>
      <%= message %>
      <br>
    <% } %>

    Sign in
    
    <form action='/new' method='post' id='signin_form'>
      Email: <input name='email' type='text' id='email'>
      Password: <input name='password' type='password' id='password'>
      <input type="submit" value="Sign in" id='sign_in_submit'>
    </form>

  </body>

</html>